{% extends "base.html" %}

{% block content %}
	<h2>创建活动</h2>
<br>
<form id="event_form" method="post" action="/yuema/createEvent/"
			enctype="multipart/form-data">
	{% csrf_token%}
	{{ event_form.as_p }}
	<input type="submit" name="submit" value="创建活动" />
</form>
{% endblock %}
