{% extends "base.html" %}

{% block content %}
	<h2>修改活动</h2>
<br>
<form id="event_form" method="post" action="/yuema/editEvent/{{event.id}}/"
			enctype="multipart/form-data">
	{% csrf_token%}
	{{ event_form.as_p }}
	<input type="submit" name="submit" value="修改" class="btn btn-primary" />
</form>
{% endblock %}
