{% extends "base.html" %}
{% block content %}
<h2>添加好友</h2>
{% if not found %}
	<p>无匹配的结果!</p>
	{% endif %}
<form action="/yuema/searchUser/" method="post" enctype="multipart/form-data" role="form">
	{% csrf_token %}
	<div class="form-group">
		<label for="username">用户名</label>
	<input type="text" name="username" class="form-control">
	</div>
	<input type="submit" value="搜索" class = "btn btn-sm btn-primary">
	</form>
{% endblock %}