{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6 invite-content">
		<h1 id="invite-header">
		<span>{{event.name}}</span>
		<br>
		By {{host.full_name}}
		</h1>

		<!-- JiaThis Button BEGIN -->
		<!-- <div id="ckepop">
			<span class="jiathis_txt">分享到：</span>
			<a class="jiathis_button_weixin">微信</a> -->
			<!-- <a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
		<a class="jiathis_counter_style"></a>
		-->
	<!-- </div> -->
	<br>
	<!-- JiaThis Button END -->
	<div id="invite-content">
	<p> <strong>开始时间</strong>
		:{{start_time}}
	</p>
	<p>
		<strong>参与者</strong>
		: {% for goer in goers %}
		{{goer}}
		{% endfor %}
		{% for goer in goers_e %}
		{{goer}}
		{% endfor %}
	</p>
	<p>
		<strong>地点</strong>
		:{{location}}
	</p>
	<p>
		<strong>描述</strong>
		:{{description}}
	</p>
	<p>
		<strong>人数上限</strong>
		:{{count}}/{{cap}}
	</p>
	</div>
	<center>
	{% if flag %}
	<a class="btn btn-white" href="/yuema/viewEvent/{{event.id}}/">查看详情&raquo;</a>
	{% else %}
	<button class="btn btn-white" data-toggle="modal" data-target="#info">查看详情&raquo;</button>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="info" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">欢迎</h4>
				</div>
				<div class="modal-body">
					<p>现在就加入Yuema以查看活动的更多信息并参与讨论</p>
					<p>
						<a href="/yuema/accounts/register/?next=/yuema/viewEvent/{{event.id}}/" class="btn btn-success">注册</a>
					</p>
					<p>已有账户？</p>
					<p>
						<a href="/accounts/login/?next=/yuema/viewEvent/{{event.id}}/" class="btn btn-primary">登录</a>
					</p>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	{% if count < cap %}
			<button class="btn btn-white" data-toggle="modal" data-target="#express-join">免注册快速加入活动&raquo;</button>
	{% else %}
	<button class="btn btn-white" data-toggle="modal" data-target="#express-join" disabled="True">免注册快速加入活动&raquo;</button>
	{% endif %}
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="express-join" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">快速加入活动</h4>
				</div>
				<div class="modal-body">
					<form id="express-join" method="post" action="/yuema/expressJoin/"
			enctype="multipart/form-data" role = "form">
						<label for="join-name">希望以此称谓加入活动</label>
						<p>
							<input type="text" name="name" placeholder="eg. 李雷 韩梅梅" class="form-control"></p>
						<input type="hidden" name="event_id" value="{{event.id}}">
						<input type="submit" class="btn btn-success" value="快速加入"></form>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	{% endif %}
	
</div>
</div>
<style type="text/css">
	#invite-header span {
		color: #b3ff00;
		font-size: 60px;
		padding: 0px;
		text-align: center;
	}
	#invite-header {
		color:white;
		font-size: 35px;
	}

	#invite-content {
		color:white;
		text-align: center;
		font-family: verdana;
	}

	footer {
		color: white;
	}


	body {
		background-color: black;
	}

	.btn-white {
		background-color: white;
		color:#577288 !important
	}

	a:link {
		text-decoration: none;
	}


</style>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>

{% endblock %}