{% extends "base.html" %}
{% block content %}
<div id="header">
   <div id="logo"><h1><a href="http://www.helloweba.com" title="返回helloweba首页">helloweba</a></h1></div>
   <div class="demo_topad"><script src="/js/ad_js/demo_topad.js" type="text/javascript"></script></div>
</div>
<div id="main">
   <h2 class="top_title"><a href="http://www.helloweba.com/view-blog-169.html">日期时间选择器：datetimepicker</a></h2>
   <div class="demo">
      <h4>1、默认：</h4>
      <p><input type="text" id="example_1" /></p>
      <pre>
   $('#example_1').datetimepicker();
      </pre>
   </div>
   <div class="demo">
      <h4>2、只选择时间：</h4>
      <p><input type="text" id="example_2" /></p>
      <pre>
   $('#example_2').timepicker();
      </pre>
   </div>
   <div class="demo">
      <h4>3、显示时分秒毫秒格式：</h4>
      <p><input type="text" id="example_3" /></p>
      <pre>
   $('#example_3').datetimepicker({
	   showSecond: true,
	   showMillisec: true,
	   timeFormat: 'hh:mm:ss:l'
   });
      </pre>
   </div>
   <div class="demo">
      <h4>4、设置时间可选范围：</h4>
      <p><input type="text" id="example_4" /></p>
      <pre>
   $('#example_4').timepicker({
	   ampm: true,
	   hourMin: 8,
	   hourMax: 16
   });
      </pre>
   </div>
   <div class="demo">
      <h4>5、默认时间：</h4>
      <p><input type="text" id="example_5" /></p>
      <pre>
   $('#example_5').datetimepicker({
	   hour: 13,
	   minute: 15
   });
      </pre>
   </div>
   <div class="demo">
      <h4>6、显示多月并设置可选日期范围：</h4>
      <p><input type="text" id="example_6" /></p>
      <pre>
   $('#example_6').datetimepicker({
	   numberOfMonths: 2,
	   minDate: 0,
	   maxDate: 30
   });
      </pre>
   </div>
   <div class="demo">
      <h4>7、显示时间标尺：</h4>
      <p><input type="text" id="example_7" /></p>
      <pre>
   $('#example_7').timepicker({
	   hourGrid: 4,
	   minuteGrid: 10
   });
      </pre>
   </div>
   <div class="demo">
      <h4>8、获取和设置时间：</h4>
      <p><input type="text" id="example_8" /> 
      <button id="example_8_set_btn">Set Datetime</button>
      <button id="example_8_get_btn">Get Datetime</button>
      <pre>
      var ex8 = $('#example_8');

      ex8.datetimepicker();

      $('#example_8_set_btn').click(function(){
	      ex8.datetimepicker('setDate', (new Date()) );
      });

      $('#example_8_get_btn').click(function(){
	       alert(ex8.datetimepicker('getDate'));
      });
      </pre>
   </div>
   <div class="ad_demo"><script src="/js/ad_js/ad_demo.js" type="text/javascript"></script></div>
   <br/>
</div>

{% endblock %}