{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<h2>
			{{event.name}}
	{% if user_p == host %}
			<a href="/yuema/editEvent/{{event.id}}/" class="btn btn-sm btn-primary">修改</a>
			<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-event">删除</button>

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="delete-event" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">确定删除这个活动？</h4>
							
               <a href="/yuema/deleteEvent/{{event.id}}/" type="button" class="btn btn-sm btn-danger">删除</a>
               <button type="button" class="btn btn-sm btn-default" 
               data-dismiss="modal">取消</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>

			{% if friends_r %}
			<a class="btn btn-info btn-sm" data-toggle="modal" data-target="#invite-friend">邀请好友</a>
			{% else %}
			<a class="btn btn-info btn-sm" disabled="True">邀请好友</a>
			{% endif %}

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="invite-friend" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">邀请好友
								<small>可多选</small>
							</h4>
						</div>
						<div class="modal-body">
							<h4 class="modal-title" id="myModalLabel">
							<form id="invite-form" action="/yuema/inviteEvent/" method="post">
							{% csrf_token %}
							<input type="hidden" value="{{event.id}}" name="event_id">
							<select name = "friends" multiple class="form-control">
							{% for f in friends_r %}
							<option value = "{{f.id}}">{{f.full_name}}</option>
							{% endfor %}
							</select>
							<input type="submit" class="btn btn-info btn-xs" value="邀请">
							</form>
							</h4>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			{% endif %}
		</h2>

		<p>
			<a href="/yuema/shareEvent/{{event.id}}/" class="btn btn-xs btn-success pull"><span class="glyphicon glyphicon-share"></span>分享到社交网络</a>
		</p>

		<p> <strong>主办人</strong>
			:
			<a href="/yuema/viewUser/{{host.id}}/" class="btn btn-default btn-xs">{{host}}</a>
		</p>
		<p> <strong>开始时间</strong>
			:{{start_time}}
		</p>
		<p>
			<strong>参与者</strong>
			: {% for goer in goers %}
			{% if not host == user_p %}
			<a href="/yuema/viewUser/{{goer.id}}/" class="btn btn-default btn-xs">{{goer}}</a>
			{% else %}
			{% if goer == user_p %}
			<div style="display:inline-block">
			<a href="/yuema/viewUser/{{goer.id}}/" class="btn btn-default btn-xs">{{goer}}</a>
		</div>
			{% else %}

			<div class="dropdown" style="display:inline-block">
   <a type="button" class="btn btn-default btn-xs dropdown-toggle" id="event-goer-{{goer.id}}" 
      data-toggle="dropdown">
      {{goer}}
      <span class="caret"></span>
   </a>
   <ul class="dropdown-menu" role="menu" aria-labelledby="event-goer-{{goer.id}}">
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="/yuema/viewUser/{{goer.id}}/">好友信息</a>
      </li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#delete-goer-{{goer.id}}">移除好友</a>
      </li>
   </ul>
</div>

<div class="modal fade" id="delete-goer-{{goer.id}}" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">确定将 <strong>{{goer.full_name}}</strong> 从本活动移除？
							</h4>
						</div>
						<div class="modal-body">
							<h4 class="modal-title" id="myModalLabel">
							<form id="delete-goer" action="/yuema/deleteGoer/" method="post">
							{% csrf_token %}
							<input type="hidden" value="{{event.id}}" name="event_id">
							<input type="hidden" value="{{goer.id}}" name ="goer_id">
							<input type="submit" class="btn btn-danger" value="删除">
							<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
							</form>
							</h4>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			{% endif %}
			{% endif %}
			{% endfor %}


			{% for goer in goers_e %}
			{% if host == user_p %}
			<div class="dropdown" style="display:inline-block">
   <a type="button" class="btn btn-default btn-xs dropdown-toggle" id="event-goer-{{goer.id}}" 
      data-toggle="dropdown">
      {{goer}}
      <span class="caret"></span>
   </a>
   <ul class="dropdown-menu" role="menu" aria-labelledby="event-goer-{{goer.id}}">
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#delete-express-{{goer.id}}">移除好友</a>
      </li>
   </ul>
</div>

<div class="modal fade" id="delete-express-{{goer.id}}" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">确定将 <strong>{{goer}}</strong> 从本活动移除？
							</h4>
						</div>
						<div class="modal-body">
							<h4 class="modal-title" id="myModalLabel">
							<form id="delete-goer" action="/yuema/deleteExpress/" method="post">
							{% csrf_token %}
							<input type="hidden" value="{{event.id}}" name="event_id">
							<input type="hidden" value="{{goer.id}}" name ="goer_id">
							<input type="submit" class="btn btn-danger" value="删除">
							<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
							</form>
							</h4>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			{% else %}
			<button disabled="True" class="btn btn-default btn-xs">{{goer}}</button>
			{% endif %}
			{% endfor %}
		</p>
		<p>
			<strong>地点</strong>
			:{{location}}
		</p>
		<p>
			<strong>描述</strong>
			:{{description}}
		</p>
		<p>
			<strong>人数上限</strong>
			:{{count}}/{{cap}}
		</p>
		{% if not host.user == user %}
		<form id="join_form" method="post" action = "/yuema/join/" enctype="multipart/form-data">
			{% csrf_token %}
			<input type ="hidden" name="event_id" value = "{{event.id}}"/>
			<input type ="hidden" name="flag" value = "{{flag_join}}"/>
			{% if flag_full and not flag_join %} 
				{% if flag_join %}
			<input disabled="True" type="submit" name="submit" value="Quit" class="btn btn-danger" >
			{% else %}
			<input disabled="True" type="submit" name="submit" value="Join" class="btn btn-success" >
			{% endif %} 
			{% else %}
				{% if flag_join %}
			<input type="submit" name="submit" value="Quit" class="btn btn-danger" >
			{% else %}
			<input type="submit" name="submit" value="Join" class="btn btn-success" >
			{% endif %} 
			{% endif %}
		</form>
		{% else %} <i>你是主办人！</i>
		{% endif %}
	</div>
	<div class="col-md-6">
		<h2>活动评论</h2>
		<div class="well">
			{% if comments %}
			{% for comment in comments %}
			
		
			{% if not comment.get_reply_to == None %}
			<p>
				<a href="/yuema/viewUser/{{comment.writer.id}}/">{{comment.writer.full_name}}</a>
				@
				<a href="/yuema/viewUser/{{comment.reply_to.id}}/">{{comment.get_reply_to.full_name}}</a>
				:
			{% else %}
				<p>
					<a href="/yuema/viewUser/{{comment.writer.id}}/">{{comment.writer.full_name}}</a>
					:
			{% endif %}
			
			{{comment}}
					<span class="small" style="color:grey">{{comment.time_diff}}</span>
					{% if comment.writer != user_p %}
					<button class="btn btn-xs btn-success comment-reply" id="{{comment.writer.id}}" name="{{comment.writer.full_name}}">回复</button>
					{% endif %}
					{% if comment.writer == user_p or user_p == event.host %}
					<button class="btn btn-xs btn-danger " data-toggle="modal" data-target="#{{comment.id}}"><span class="glyphicon glyphicon-trash"></span>删除</button>

					<!-- 模态框（Modal） -->
					<div class="modal fade" id="{{comment.id}}" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">确定删除这条评论？</h4>
									<form action="/yuema/deleteComment/{{comment.id}}/" method="post">
										<input type="hidden" name="event_id" value="{{event.id}}">
										<input type="submit" class="btn btn-sm btn-danger" value="删除">
										<button type="button" class="btn btn-sm btn-default" 
               data-dismiss="modal">取消</button>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal -->
					</div>
					{% else %}
					<form action="/yuema/replyComment/{{comment.id}}/" method="post">
						<input type="hidden" class="btn btn-xs btn-primary" value = "回复">
						<input type="hidden" name="event_id" value="{{event.id}}"></form>
					{% endif %}
				</p>
				{% endfor %}
				{% else %}
				<p>没有评论！</p>
				{% endif %}
				<!-- comment form -->
				<form action="/yuema/addComment/" method="post" id="comment-form">
					<p id="comment-alert">评论为空！</p>
				<div class="form-group">
					<input type="text" class="form-control" name="comment" id="comment">
				</div>
					<input type="hidden" name="event_id" value="{{event.id}}">
					<input style="display:none" type="submit" value="回复" class="btn btn-primary" id="submit-comment">
					<input type="hidden" class="reply_to" name="reply_to" value="">
				</form>
				<div id="output1" style="display:none"></div>

			</div>

		</div>
	</div>
	<script type="text/javascript">
	$(function(){
		$("#comment-alert").hide()
		$("#submit-comment").click(function(){
			if($("#comment").val()==""){
				$("#comment-alert").show()
				return false;
			}
		})
		$("#comment").keyup(function(){
			if($("#comment").val()!=""){
				$("#comment-alert").hide();
			}
		})

		// $(".well").click(function(){
		// 	alert("hahah")
		// 	$(".reply_to").remove()
		// 	$("#comment-form").append("<input type='hidden' class='reply_to' name='reply_to' value=''>")
		// 	$("#comment").prop("placeholder","")
		// })
		$("#comment").click(function(){
			$(".reply_to").remove()
			$("#comment-form").append("<input type='hidden' class='reply_to' name='reply_to' value=''>")
			$("#comment").prop("placeholder","")
		})

		$(".comment-reply").click(function(){
			$(".reply_to").remove()
			$("#comment-form").append("<input type='hidden' class='reply_to' name='reply_to' value='"+$(this).attr("id")+"'>")
			$("#comment").prop("placeholder","回复"+$(this).attr("name")+":")
			$("#comment").focus();
		})



		// $("#comment-form").ajaxForm(function(){
		// 	$('#output1').html("Success!").show();
		// })

	})
	</script>
	{% endblock %}

