{% extends "base.html" %}
{% block content %}
{% if r and not is_friend %}
	<p><i>请求已发送，等待回复中</i></p>
	{% endif %}
	<p><strong>用户名</strong>: {{u_p.user}}
	{% if not is_current and not is_friend %}
		<a href="/yuema/addUser/{{u_p.id}}/" class = "btn btn-sm btn-success"
		{% if r %}
		disabled="True" 
		{% endif %}
		>加为好友以查看ta的活动</a>
		{% elif is_current %}
	{% else %}

	<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-event">解除好友关系</button>

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="delete-event" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">确定解除好友关系？</h4>
							
               <a href="/yuema/removeUser/{{u_p.id}}/" type="button" class="btn btn-sm btn-danger">确定</a>
               <button type="button" class="btn btn-sm btn-default" 
               data-dismiss="modal">取消</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>


	{% endif %}
	</p>
	<p><strong>姓名</strong>: {{u_p.last_name}}
{{u_p.first_name}}
	</p>
	<h3>参与的活动</h3>
	{% if events %}
	{% for event in events %}
	<a href="/yuema/viewEvent/{{event.id}}/">{{event}}</a>
	<br>
	{% endfor %}
	{% else %}
	<p>该用户还未参加任何活动！</p>
	{% endif %}

{% endblock %}
