<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="/static/icon.png"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />  

  {% if share %}
  <title>{{event.host.full_name}}邀请你参加活动【{{event.name}}】 -Yuema</title>
  {% else %}
  <title>Yuema -拉近你我的距离.</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/yy.css" rel="stylesheet">
  

  <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="/static/js/jquery.form.js"></script>
  <style type="text/css">

  </style>
  <!--
  <script type="text/javascript">
jQuery.browser={};(function(){jQuery.browser.msie=false; jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
  </script>
  -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css" /> 
  <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  
  <!-- <script type="text/javascript" src="/static/js/jquery-ui-slide.min.js"></script> 
  // <script type="text/javascript" src="/static/js/jquery-ui.js"></script> 
  // <script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script> --> 
  
  

<!-- 
  <script type="text/javascript">
$(function(){
  $('#time_picker').datetimepicker();
  $('#example_2').timepicker({});
  $('#example_3').datetimepicker({
      showSecond: true,
      showMillisec: true,
      timeFormat: 'hh:mm:ss:l'
    });
  $('#example_4').timepicker({
      ampm: true,
      hourMin: 8,
      hourMax: 16
    });
  $('#example_5').datetimepicker({
     hour: 13,
     minute: 15
    });
  $('#example_6').datetimepicker({
     numberOfMonths: 2,
     minDate: 0,
     maxDate: 30
    });
  $('#example_7').timepicker({
     hourGrid: 4,
     minuteGrid: 10
    });

  
  var ex8 = $('#example_8');

      ex8.datetimepicker();

      $('#example_8_set_btn').click(function(){
        ex8.datetimepicker('setDate', (new Date()) );
      });

      $('#example_8_get_btn').click(function(){
         alert(ex8.datetimepicker('getDate'));
      });
});
</script>

 -->


</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 

        <a class="navbar-brand" href="/yuema/accounts/">
          <span class="glyphicon glyphicon-user"></span>
          {% if user_p.request_count > 0 %}
          <span class="badge">{{user_p.request_count}}</span>
          {% endif %}
          </a>
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/" webkit-touch-callout="none"><span class="glyphicon glyphicon-home"></span>我的主页</a>
          </li>
          <!-- <li>
            <a href="/yuema/searchUser/" ><span class="glyphicon glyphicon-search"></span>添加好友</a>
          </li> -->
          <li>
            <a href="/yuema/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
          </li>
          <li>
            <a href="/yuema/accounts/login/">登录</a>
        </li>
        <li>
          <a href="/yuema/accounts/register/">注册</a>
        </li>
        </ul>
        <form action="/yuema/searchUser/" method="post" enctype="multipart/form-data" class="navbar-form navbar-left" role="search">
        {% csrf_token %}
         <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="通过用户名搜索好友">
         </div>
         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>    
      </div>
    </div>
  </nav>
  
  <div class='container'>
  <br>
  <br>
  <br>
  {% block content %}
{% endblock %}
  </div>
  <hr>
  <center>
    <footer>
      <p>
        By Yuanyang Zheng - yz9fy@virginia.edu
      </p>
      <p>拉近你我的距离.</p>
    </footer>
  </center>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
