{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
{% if form.errors %}
<p>您的用户名和密码不匹配.</p>
{% endif %}
<br>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
{% csrf_token %}
<div class="form-group">
    <label for="username">用户名:</label>
    <input id="id_username" maxlength="254" name="username" type="text" class="form-control" />
	</div>
	<div class="form-group">
	<label for="password">密码:</label>
    <input id="id_password" name="password" type="password" class="form-control" />
	</div>
<input type="checkbox" name="check" id="check">记住用户名
<br>
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="登录" class="btn btn-sm btn-primary" id="login" />
<a href="/yuema/accounts/register/" class="btn btn-sm btn-success" >注册</a>

</form>
	</div>
	</div>

{% endblock %}
