{% extends "base.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="row">
<div class="col-md-6 col-md-offset-3">
<form action="" method="post" role="form">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<fieldset class="module aligned wide">
<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans '老密码' %}:</label>
    <input id="id_old_password" name="old_password" type="password" class="form-control" />
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans '新密码' %}:</label>
    <input id="id_new_password1" name="new_password1" type="password" class="form-control" />
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans '新密码(again)' %}:</label>
    <input id="id_new_password2" name="new_password2" type="password" class="form-control" />
</div>

</fieldset>
<br>
<div class="submit-row">
    <input type="submit" value="提交" class="btn btn-primary" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>
	</div>

{% endblock %}
