{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
        <h2>加入Yuema</h2>

        {% if registered %}
        <strong>感谢您的注册！</strong>
        <br>
        请前往您的邮箱激活账户.
        <br>
        {% else %}
        <form id="user_form" method="post" 
        {% if not next_page == "" %}
        action="/yuema/accounts/register/?next={{next_page}}"
        {% else %}
        action="/yuema/accounts/register/"
        {% endif %}

                enctype="multipart/form-data" role="form">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}


            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="注册" class="btn btn-success" />
        </form>

        {% endif %}
        </div>
    </div>
{% endblock %}
