{% extends "base.html" %}
{% block content %}
	<h2>{{user_p}}</h2>
	<div class = "row">
	<div class = "col-md-6">
	{% if c_a_unseen %}
	<h3>新鲜事</h3>
	{% for c in c_a_unseen %}
	<a href="/yuema/viewEvent/{{c.comment.event.id}}/">{{c.comment.writer.full_name}} 回复了你</a>
	{% endfor %}
	{% endif %}
	<h3>好友请求</h3>
	{% if requests %}
	{% for r in requests %}
	<p>
	<a href="/yuema/viewUser/{{r.requestor.id}}/">{{r.requestor}}</a>
	<a href="/yuema/acceptRequest/{{r.id}}/" class="btn btn-sm btn-success">接受</a>
	<a href="/yuema/declineRequest/{{r.id}}/" class="btn btn-sm btn-danger">拒绝</a>
	</p>
	{% endfor %}
	{% else %}
	<p><i>还没有任何好友申请</i></p>
	{% endif %}
	{% for r in requests_handled %}
	<p>
	<a href="/yuema/viewUser/{{r.requestor.id}}/">{{r.requestor}}</a> 已添加
	</p>
	{% endfor %}
	<h3>我的好友</h3>
	{% if friends %}
	{% for f in friends %}
	<p>
	<a href="/yuema/viewUser/{{f.id}}/">{{f}}</a>
	</p>
	{% endfor %}
	{% else %}
	<p><i>还没有任何朋友</i></p>
	{% endif %}
	<h3>活动邀请</h3>
	{% if event_invites %}
	{% for e_i in event_invites%}
	<a href="/yuema/viewUser/{{e_i.event.host.id}}/">
		{{e_i.event.host}} 
	</a>
	邀请你参加Ta的活动
	<a href="/yuema/viewEvent/{{e_i.event.id}}/">
		【{{e_i.event.name}}】
	</a>
	<a href="/yuema/acceptInvite/{{e_i.id}}/" class="btn btn-primary btn-xs">接受</a>
	<a href="/yuema/declineInvite/{{e_i.id}}/" class="btn btn-danger btn-xs">拒绝</a>
	{% endfor %}
	{% else %}
	<p><i>没有未处理完的活动邀请</i></p>
	{% endif %}
	</div>
	<div class="col-md-6">
		<h3>活动提醒</h3>
		{% if event_alerts %}
		{% for e in event_alerts %}
			<a href="/yuema/viewUser/{{e.user_profile.id}}/">{{e.user_profile}}</a>
			加入了你的活动
			<a href="/yuema/viewEvent/{{e.event.id}}/">{{e.event.name}}</a>
		{% endfor %}
		{% else %}
		<p><i>没有还没有活动提醒</i></p>
		{% endif %}
		<h3>活动评论</h3>
		<ul class="list-group">

		{% for c in comments%}
		<li class="list-group-item">
		{{c.writer.full_name}}
		<br>
		<a href="/yuema/viewEvent/{{c.event.id}}/">{{c}}</a>
	</li>
		{% endfor %}
	</ul>
	</div>
	</div>
{% endblock %}