{% extends "base.html" %}
{% block content %}

<strong>Login here!</strong>
    <br/>

    <form id="login_form" method="post" action="/yuema/accounts/login/" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <input type="hidden" name="sessionid" value={{request.session.name}}/>

        <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>
        ) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ login_form.as_p }}
        <input type="username" name="username" label="用户名" class="form-control" />
        <br/>
        <input type="password" name="password" label="密码"class="form-control" />
        <br/>
        <input type="checkbox" name="check" id="check">记住用户名
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Login" />
    </form>

{% endblock %}
