{% extends "base.html" %}

{% block content %}
<div class="row">
	<h1>你好 {{user_p.last_name}} {{user_p.first_name}}!</h1>

</div>

<div class="row">
	<div class="col-md-6">
		<h2 class="page-header">
			Dashboard

			<button class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span>创建活动</button>

			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">创建活动</h4>
						</div>
						<div class="modal-body">
						<h4 class="modal-title" id="myModalLabel">
							<form id="event_form" method="post" action="/yuema/createEvent/"
			enctype="multipart/form-data" role = "form">
								{% csrf_token%}
	{{ event_form.as_p }}
						</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭</button>
							<input type="submit" name="submit" class="btn btn-success" value="创建" />
							</form>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</h2>
		{% if events %}
			{% for e in events %}

		<div class="event-box" onclick="location.href='/yuema/viewEvent/{{e.id}}/'">
		<p class="event-header">{{e}}</p>
		<div class="event-content">
			{{e.description}}
		</div>
		<div class="event-goer">
		{% for goer in e.userprofile_set.all %}
		<img src="/static/default.jpg" class="profile">
		{{goer.full_name}}

		{% endfor %}
		</div>

		</div>
		{% endfor %}
			{% else %}
		<p>你的好友还没创建活动！</p>
		{% endif %}
	</div>
	<div class="col-md-6">
		<h2 class="page-header">我主办的活动</h2>
		{% if event_h %}
			{% for e in event_h %}
		<a href="/yuema/viewEvent/{{e.id}}/">{{e}}</a>
		<br>
		{% endfor %}
			{% else %}
		<p>你还没有主办过任何活动！</p>
		{% endif %}
		<h2 class="page-header">近期活动</h2>
		{% if not events_p_i %}
		<p>近期没有活动！</p>
		{% else %}
{% for e in events_p_i %}
		<p>
			<a href="/yuema/viewEvent/{{e.id}}/">{{e}}</a>
		</p>
		{% endfor %}
{% endif %}
		<h2 class="page-header">过去的活动</h2>
		{% if not events_p_p %}
		<p>没有过去的活动！</p>
		{% else %}
{% for e in events_p_p %}
		<p>
			<a href="/yuema/viewEvent/{{e.id}}/">{{e}}</a>
		</p>
		{% endfor %}
{% endif %}

	</div>
</div>

<style type="text/css">
	.event-content {
		font-size: 20px;
		color: white;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.event-goer{
		color: white;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.event-box{
		background-color: #32b847;
		width:90%;
		border-radius: 0.5em;
		margin-bottom: 10px;
	}

	.event-box + .even{
		float: right;
	}

	.event-header{
		padding: 10px;
		color: white;
		font-size: 30px
	}

	.event-content{

	}

	.profile {
		border-radius:50%;
		width:10%;
	}
	.body {
		background-color: green;
	}
</style>
{% endblock %}