{% extends "base.html" %}

{% block content %}

<div class="event-box">
<p class="event-header">桌球 by 郑元泱</p>
<div class="event-content">
	大家一起来吃小龙虾吧！
</div>
<div class="event-goer">

<img src="/static/default.jpg" class="profile">
郑元泱
<img src="/static/default.jpg" class="profile">
郑元泱
</div>

</div>

<div class="event-box even">
<p class="event-header">二班小聚 by 郑元泱</p>
</div>

<style type="text/css">
	.event-content {
		font-size: 20px;
		color: white;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.event-goer{
		color: white;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.event-box{
		background-color: #27ae60;
		width:90%;
		border-radius: 0.5em;
		margin-bottom: 10px;
	}

	.event-box+.even{
		float: right;
	}

	.event-header{
		padding: 10px;
		color: white;
		font-size: 30px
	}

	.event-content{

	}

	.profile {
		border-radius:50%;
		width:10%;
	}
</style>
{% endblock %}